body {
    background-color: aqua;
}

.game-cell {
    height: 4px;
    width: 4px;
    background-color: black;
    float: left;
}

.game-board {
    float: left;
    margin: auto;
}

.wall {
    height: 2px;
    width: 2px;
    background-color: burlywood;
}

.red-area {
    background-color: red;
}

.green-area {
    background-color: green;
}


