body {
    background-color: lightgoldenrodyellow;
}

.game-cell {
    height: 4px;
    width: 4px;
    background-color: black;
    float: left;
}

.game-board {
    display: inline-block;
}

.wrapper {
    text-align: center;
}

h3 {
    font-family: fantasy;
    text-align: center;
}

.player1 {
    background-color: green;
}

.player2 {
    background-color: chocolate;
}

.red {
    background-color: #9C1A1C
}

.blue {
    background-color: #11557C;
}
