body {
    background-color: lightgoldenrodyellow;
}

.game-cell {
    height: 4px;
    width: 4px;
    background-color: black;
    float: left;
}

.game-board {
    display: inline-block;
}

.wall {
    height: 2px;
    width: 2px;
    background-color: burlywood;
}

.red-area {
    background-color: #9C1A1C;
}

.green-area {
    background-color: #11557C;
}

.wrapper {
    text-align: center;
}

h3 {
    font-family: fantasy;
    text-align: center;
}
